{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container mt-5">
    <div class="row">
    <h2 class="text-left text-uppercase  ml-3 mt-5">
        Membership Payment
    </h2>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container mt-5">
	<div class="row  ">
   
    <h3 class="mt-5">Payment</h3><br><br>
    </div>
        <div class="col-sm-4 col-md-4">
            <p>Selected Membership: {{ selected_membership }}</p>
            <p>Price: <strong>${{ selected_membership.price }}</strong>per year</p>
        </div>
    </div>



{% endblock %}