{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container mt-5">
    <div class="row">
    <h2 class="text-left text-uppercase font-weight-bold ml-3 mt-3">
        Membership Payment
    </h2>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container mt-5">
	<div class="row">
    <h3>Payment</h3>
        <div class="col-sm-4 col-md-4">
            <p>Selected Membership: {{ selected_membership }}</p>
        </div>
    </div>
</div>


{% endblock %}