{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container h-auto ">
    <div class="container-img">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="display-4 logo-text white-text">
                Sign up today and start your Journey
                </h1>
                <div class="my-5 container">
                    <h4>
                        <a href="{% url 'products' %}" class="btn btn-lg text-uppercase py-3 main-btn">View Shop </a>
                    </h4>
                    <h4>
                        <a href="{% url 'account_signup' %}" class="btn btn-lg text-uppercase py-3 main-btn">Sign up</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <!-- End container div-->
        
    </div>
    <!-- Section 1 -->
    <div class="container-fluid px-0 ">
        <div class="row bg-dark section-1 px-0 mx-0 col-12">
            <div class="col-12">
                <h3 class="text-muted white-text pt-2 py-4 ml-5 pl-5">The New Training App that has people excited!</h3>
                <div class="container pt-2 py-4 ml-5 pl-5">
                    <h4 class="text-left white-text">See how our Training Plans can work for you.</h4>
                    <p class="white-text text-center">Get personalised training plans for your body type and time commitments.</p>
                        <div class="my-5 container">
                            <h4>
                                <a href="" class="btn btn-lg text-uppercase py-3 main-btn">View Shop </a>
                            </h4>
                            <h4>
                                <a href="" class="btn btn-lg text-uppercase py-3 main-btn">Sign up</a>
                            </h4>
                    </div>
                    <p class="white-text text-center">Get personalised training plans for your body type and time commitments.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Section 2 -->
    <div class="container-fluid px-0 ">
        <div class="row bg-white section-1 px-0 mx-0 col-12">
            <div class="col-12">
                <h3 class="text-muted text-black pt-2 py-4 ml-5 pl-5">The New Training App that has people excited!</h3>
                <div class="container pt-2 py-4 ml-5 pl-5">
                    <h4 class="text-left text-black">See how our Training Plans can work for you.</h4>
                    <p class="text-black text-center">Get personalised training plans for your body type and time commitments.</p>
                        <div class="my-5 container">
                            <h4>
                                <a href="" class="btn btn-lg text-uppercase py-3 main-btn">View Shop </a>
                            </h4>
                            <h4>
                                <a href="" class="btn btn-lg text-uppercase py-3 main-btn">Sign up</a>
                            </h4>
                    </div>
                    <p class="text-black text-center">Get personalised training plans for your body type and time commitments.</p>
                </div>
            </div>
        </div>
    </div>

     <!-- Section 3 -->
    <div class="container-fluid px-0 ">
        <div class="row bg-dark section-1 px-0 mx-0 col-12">
            <div class="col-12">
                <h3 class="text-muted text-black pt-2 py-4 ml-5 pl-5">The New Training App that has people excited!</h3>
                <div class="container pt-2 py-4 ml-5 pl-5">
                    <h4 class="text-left white-text">See how our Training Plans can work for you.</h4>
                    <p class="white-text text-center">Get personalised training plans for your body type and time commitments.</p>
                        <div class="my-5 container">
                            <h4>
                                <a href="" class="btn btn-lg text-uppercase py-3 main-btn">View Shop </a>
                            </h4>
                            <h4>
                                <a href="" class="btn btn-lg text-uppercase py-3 main-btn">Sign up</a>
                            </h4>
                    </div>
                    <p class="white-text text-center">Get personalised training plans for your body type and time commitments.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Section 4 -->
    <div class="container-fluid px-0 text-black">
        <div class="row bg-white section-1 px-0 mx-0 col-12">
            <div class="col-12">
                <h3 class="text-muted pt-2 py-4 ml-5 pl-5">The New Training App that has people excited!</h3>
                <div class="container pt-2 py-4 ml-5 pl-5">
                    <h4 class="text-left text-black">See how our Training Plans can work for you.</h4>
                    <p class="text-black text-center">Get personalised training plans for your body type and time commitments.</p>
                        <div class="my-5 container">
                            <h4>
                                <a href="" class="btn btn-lg text-uppercase py-3 main-btn">View Shop </a>
                            </h4>
                            <h4>
                                <a href="" class="btn btn-lg text-uppercase py-3 main-btn">Sign up</a>
                            </h4>
                    </div>
                    <p class="text-black text-center">Get personalised training plans for your body type and time commitments.</p>
                </div>
            </div>
        </div>
    </div>





{% endblock %}