<script type="text/javascript">
function handleEnableDisable(itemId){
    var currentValue = parseInt($(`#id_qty_${itemId}`).val());
    var minusDisabled = currentValue < 2;
    var plusdisabled = currentVAlue > 98;
    $(`#decrement_qty_${itemId}`).prop('disabled', minusDisabled);
    $(`#increment_qty_${itemId}`).prop('disabled', minusDisabled);
}
    // Increment Quantity
    $('.increment-qty').click(function(e){
        e.preventDefault();
        var closestInput = $(this).closest('.input-group').find('.qty_input')[0];
        var currentvalue = parseInt($(closestInput).val());
        $(closestInput).val(currentvalue + 1);
        var itemId = $(this).data('item_id');
        handleEnableDisable(itemId);
     });
    // Decrement Quantity
      $('.decrement-qty').click(function(e){
        e.preventDefault();
        var closestInput = $(this).closest('.input-group').find('.qty_input')[0];
        var currentvalue = parseInt($(closestInput).val());
        $(closestInput).val(currentvalue - 1);
        var itemId = $(this).data('item_id');
        handleEnableDisable(itemId);
     });
</script>