<footer class="page-footer font-small bg-dark pt-4">
  <div class="container-fluid text-center text-md-left bg-dark">
    <div class="row">
      <div class="col-md-6 mt-md-0 mt-3">
        <a href="{% url 'home' %}" class="nav-link main-logo">
            <h2 class="logo-text white-text my-0"><strong>My<span class="blue-text">Fit</span></strong></h2>
        </a>
        <p class="white-text ml-3">Day by day, step by step, Rome wasn't built in a day!</p>
      </div>
      <hr class="clearfix w-100 d-md-none pb-3">
      <div class="col-md-3 mb-md-0 mb-3">
        <h5 class="text-uppercase white-text">Links</h5>
        <ul class="list-unstyled white-text">
          <li>
            <a href="#!">Training</a>
          </li>
          <li>
            <a href="#!">Nutrition</a>
          </li>
          <li>
            <a href="#!">Blog</a>
          </li>
          <li>
            <a href="#!">Shop</a>
          </li>
        </ul>

      </div>
      <div class="col-md-3 mb-md-0 mb-3 white-text">
        <h5 class="text-uppercase white-text">Login / Register</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Login</a>
          </li>
          <li>
            <a href="#!">Register</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3 white-text bg-dark" >© 2020 Copyright: 
    <a href="#"> Darren Murphy</a>
  </div>
