<div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center" id="main-nav">
    <ul class="list-inline list-unstyled " id="main-navbar">
        
        <li class="list-inline-item">
            <a class="text-info font-weight-bold nav-link" href="{% url 'training' %}" >
                <div>
                    <div class="icons">
                        <i class="fas fa-dumbbell fa-lg price"></i>
                    </div>
                    <p class="my-0 price nav-text">
                        Training
                    </p>
                </div>
            </a>
        </li>

        <li class="list-inline-item">
            <a class="text-info font-weight-bold nav-link" href="#" >
                <div>
                    <div class="icons">
                        <i class="fas fa-apple-alt fa-lg price"></i>
                    </div>
                    <p class="my-0 price nav-text">
                        Nutrition
                    </p>
                </div>
            </a>
        </li>

        <li class="list-inline-item dropdown" href="#" id="blog-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <a class="text-info font-weight-bold nav-link" href="#" >
                <div class="text-center">
                    <div class="icons">
                        <i class="fas fa-comments fa-lg price"></i>
                    </div>
                    <p class="my-0 price nav-text">
                        Blog
                    </p>
                </div>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="blog-link">
                <a href="" class="dropdown-item">Training</a>
                <a href="" class="dropdown-item">Nutrition</a>
                <a href="" class="dropdown-item">Community</a>
            </div>
        </li>

        <li class="list-inline-item dropdown" href="#" id="shop-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <a class="text-info font-weight-bold nav-link" href="#" >
                <div class="text-center">
                    <div class="icons">
                        <i class="fas fa-balance-scale fa-lg price"></i>
                    </div>
                    <p class="my-0 price nav-text">
                        Shop
                    </p>
                </div>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="shop-link">
                <a href="" class="dropdown-item">Mens</a>
                <a href="" class="dropdown-item">Womens</a>
                <a href="" class="dropdown-item">Equipment</a>
                <a href="" class="dropdown-item">Nutrition</a>
            </div>
        </li>
    </ul>
</div>