{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid mt-5">
 <div class="row ">
        <div class="col text-center mt-3">
            <hr class="w-75 text-secondary">
            <h2>Products Details</h2>
            <hr class="w-75 ">
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 mt-5 mb-5 py-4 px-4 offset-lg-2">
            <div class="image-container my-5 ">
            {% if product.image %}
                <a href="{{ product.image.url }}" target="_blank">
                    <img class="card-img-top  w-auto img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                </a>
            {% else %}
                <a href="">
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                </a>
            {% endif %}
            </div>
        
        </div>
        <div class="col-12 col-md-6 col-lg-4 mt-5 mb-5 py-4 px-4 border border-3 bg-dark">
            <div class="container-fluid bg-dark">
                <p class="mb-0 white-text">
                    
                    {{ product.name|title }}
                </p>
                <p class="mb-0">
                    {% if product.rating %}
                        <small class="text-muted white-text">
                            <i class="fas fa-star mr-1 white-text"></i>
                            {{ product.rating }} / 5
                        </small>
                    {% else %}
                        <small class="text-muted white-text">No Rating</small>
                    {% endif %}
                    </p>
                    <p class="mt-0">
                    {% if product.category %}
                        <small class="text-muted white-text">
                        <a href="{% url 'products' %}?category={{ product.category.name }}"></a>
                            <i class="fas fa-tag mr-1 white-text"></i>
                            {{ product.category.friendly_name|title }} 
                        </small>
                   
                    {% endif %}
                    </p>
                <p class="mb-0 white-text">
                    <span class="font-weight-bold white-text">
                    Product Sku:
                    </span>
                    {{ product.sku|title }}
                </p>
                <p class="mb-0 white-text">
                    <span class="font-weight-bold white-text">
                    Product Brand:
                    </span>  
                    {{ product.brand|title }}
                </p>
                <p class="mb-0 white-text">
                    <span class="font-weight-bold white-text"> 
                    Product Description:
                    </span>
                    <div class="item white-text">
                    {{ product.description }}
                    </div>
                </p>
                <p class="mb-0 white-text">
                    <span class="font-weight-bold white-text"> 
                    Recommended For:
                    </span> 
                    {{ product.recommeded_for|title }}
                </p>
                <p class="lead mb-0 text-left font-weight-bold white-text mt-4">
                    ${{ product.price }}
                </p>
            </div>
            <form class="form ml-3" action="{% url 'add_to_bag' product.id %}" method="POST">
                {% csrf_token %}
                <div class="form-row">
                {% with product.has_sizes as s %}
                {% if s %}
                <hr class="pd-line">
                <div class="col-12">
                    <p><strong class="white-text">Size:</strong></p>
                    <select name="product_size" id="id_product_size" class="select form-control rounded-0 w-50">
                        <option value="xs">XS</option>
                        <option value="s">S</option>
                        <option value="m">M</option>
                        <option value="l">L</option>
                        <option value="xl">XL</option>
                    </select>
                </div>
                {% endif %}
                     <div class="col-12">
                                <p class="mt-3"><strong class="text-white">Quantity:</strong></p>
                                <div class="form-group w-50">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="decrement-qty btn btn-black rounded-0" 
                                                data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-minus text-white"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <input class="form-control qty_input" type="number"
                                            name="quantity" value="1" min="1" max="99"
                                            data-item_id="{{ product.id }}"
                                            id="id_qty_{{ product.id }}">
                                        <div class="input-group-append">
                                            <button class="increment-qty btn btn-black rounded-0"
                                                data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-plus text-white"></i>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    <div class="col{% if s%}-12 mt-2{% endif %}">
                        <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 mt-5">
                            <span class="icon">
                                <i class="fas fa-chevron-left"></i>
                            </span>
                            <span class="text-uppercase">Keep Shopping</span>
                        </a>
                        <input type="submit" class="btn btn-black rounded-0 text-uppercase mt-5" value="add to Bag">
                    </div>
                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    {% endwith %}
                </div>
                {% if request.user.is_superuser %}
                .
                    <small class="ml-3">
                        <a href="{% url 'edit_product' product.id %}" class="">Edit</a> |
                        <a href="{% url 'delete_product' product.id %}" class="text-danger">Delete</a>
                    </small>
                {% endif %}
            </form>
            </div>
    </div>
</div>
    <div class="container-fluid">
        <div class="row mt-5">
            <div class="col col-lg-8 offset-lg-2">
                <h4 class="text-uppercase">Comments</h4>
                <hr>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12 col-sm-6 col-md-6 col-lg-4 offset-lg-2 all-comment mb-4 mr-5">
                {% if comments %}
                    {% for comment in comments %}
                        <div class="single-comment mb-3">
                            <div class="comment-heading">
                                <span class="mr-3 text-muted"><i class="fas fa-user"></i> {{ comment.user.username }}</span>
                                <span class="text-muted"><i class="fas fa-clock"></i> {{ comment.created_at }}</span>
                                <div class="comment-rating float-right">
                                    <i class="fas fa-star gold{% if comment.rate < 1 %}-o empty{% endif %}"></i>
                                    <i class="fas fa-star gold{% if comment.rate < 2 %}-o empty{% endif %}"></i>
                                    <i class="fas fa-star gold{% if comment.rate < 3 %}-o empty{% endif %}"></i>
                                    <i class="fas fa-star gold{% if comment.rate < 4 %}-o empty{% endif %}"></i>
                                    <i class="fas fa-star gold{% if comment.rate < 5 %}-o empty{% endif %}"></i>
                                </div>
                                <div class="mt-2"><p><strong>{{ comment.subject }}</strong></p></div>
                            </div>
                            <div class="comment-body">
                                {{ comment.comment }}
                            </div>
                        </div>
                        <hr>
                    {% endfor %}
                {% else %}
                    <p>Be the first one to leave a review!</p>
                {% endif %}
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-5 form p-3  text-white py-2 p-3">
                <h5 class="text-uppercase text-white">Leave a comment</h5>
                <form action="{% url 'add_comment' product.id %}" method="POST" class="form-group mt-3 comment-form">
                    {% csrf_token %}
                    {{ comment_form|crispy }}
                    {% if user.is_authenticated %}
                        <button id="submit-button" class="btn btn-black rounded-0 mt-3">
                            <span class="text-uppercase text-white">Add review</span>
                        </button>
                    {% else %}
                        <p class="mt-3">You must be logged in to add reviews! <a href="{% url 'account_login' %}">Login</a>
                         or <a href="{% url 'account_signup' %}">Register</a></p>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}